$baseColor: #fff;
$mainColor: #eeb842;
$subColor: #f37514;
$fontColor: #000;
$redColor: #f00;
$activeColor: #ddd;

$borderWeight: 1px;
$borderColor: #ddd;
$hoverBorderColor: #777;
$activeBorderColor: #aaa;

$activeButtonColor: #ddd;

$subFontColor: #666;
$twitterColor: #00acee;
$shadowColor: rgba(20, 10, 10, 0.4);

$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$lineHeight: 2;
$letterSpacing: 1.4;

$inputBorderRadius: 8px;
$baseFontSize: 14px;
$smallFontSize: 12px;

$bodyMaxWidth: 800px;
$headerHeight: 48px;
$footerHeight: 48px;
$sideMargin: 16px;

$loadingIndex: 7;
$modalIndex: 6;
$sliderIndex: 5;
$loginIndex: 4;
$editProfileIndex: 4;
$headerIndex: 3;
$footerIndex: 3;
$slideAreaIndex: 1;
$mapIndex: 0;
